﻿body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.1em;
    color: #800040;
    margin-top: 0;
}

#container {
    width: 100%;
    margin: 0 auto;
}

#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: #8fa09b;
    color: #ffe;
    vertical-align: middle;
}

#sidebar {
    width: 130px;
    float: left;
    overflow-y:overlay; 
}

#content {
    margin-left: 130px;
    padding: 10px;
    background: #ffffff;
    overflow-y:auto; 
}

/*table*/
   table { 
    width: 100%; 
    border: 4px double black; 
    border-collapse: collapse; 
   }
   th { 
    text-align: left;
    background: #ccc; 
    padding: 5px; 
    border: 1px solid black;
   }
   td { 
    padding: 5px; 
    border: 1px solid black; 
   }
/*Nav*/
#navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 130px;
}

    #navbar li {
        border-bottom: 1px solid #666;
    }

    #navbar a {
        background-color: #949494;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: block;
        height: 30px;
    }

#active {
    background-color: #f00;
}

#navbar a:hover {
    background-color: #666;
}


.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.select-day {
    width: 50px;
}

.select-month {
    width: 90px;
}

.select-year {
    width: 70px;
}

dl {
  width: 100%;
  overflow: hidden;
  background: #ff0;
}
dt {
  float: left;
  width: 50%;
  background: #cc0;
}
dd {
  float: left;
  width: 50%;
  background: #dd0
}