﻿@model BookShop.ViewModels.BookEditViewModel

@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Details book</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPublisher)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdPublisher,
                                           Model.SelectPublisher,
                                           "Select publisher", new { @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.IdPublisher)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name, new { @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description, new { @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Price, new { type = "number", @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublishedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublishedAt, new { type = "date", @disabled = "disabled" })
            @Html.HiddenFor(Model => Model.PublishedAt)
        </div>
        <fieldset>
            <legend>Автор</legend>
            @for (int i = 0; i < Model.CheckAuthor.Count; i++)
            {
                @Html.CheckBoxFor(Model => Model.CheckAuthor[i].Checked, new { @disabled = "disabled" })
                @Html.HiddenFor(Model => Model.CheckAuthor[i].Id)
                @Html.HiddenFor(Model => Model.CheckAuthor[i].Name)
                @Html.Label(Model.CheckAuthor[i].Name)
                <br />
            }
        </fieldset>
    </fieldset>
    <p>Save Data?</p>
    <p>
        <input type="submit" value="Yes" />
        @Html.ActionLink("No", "Index")
    </p>
}

