﻿@model BookShop.ViewModels.BookEditViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Details book</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdPublisher)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdPublisher,
                                           Model.SelectPublisher,
                                           "Select publisher", new { @disabled = "disabled" })
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">

            @Html.HiddenFor(Model => Model.Name)
            @Html.TextBoxFor(model => model.Name, new { @disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">

            @Html.HiddenFor(Model => Model.Description)
            @Html.TextBoxFor(model => model.Description,new { @disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">

            @Html.HiddenFor(Model => Model.Price)
            @Html.TextBoxFor(model => model.Price, new { type = "number", @disabled = "disabled" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublishedAt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(Model=>Model.PublishedAt,new { type="date", @disabled = "disabled" })
                @Html.HiddenFor(Model=>Model.PublishedAt)
         </div>
        <fieldset>
            <legend>Автор</legend>
            @for (int i = 0; i < Model.CheckAuthor.Count; i++)
            {
                @Html.CheckBoxFor(Model => Model.CheckAuthor[i].Checked, new { @disabled = "disabled" })
                @Html.HiddenFor(Model => Model.CheckAuthor[i].Id)
                @Html.Label(Model.CheckAuthor[i].Name)
                <br />
            }
        </fieldset>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

