﻿@model IEnumerable<BookShop.ViewModels.BookViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Книги</h2>

<table id="table">
    <tr>
        <th>
           Автор
        </th>
        <th>
            @Html.LabelFor(model => model.First().Name)
        </th>
        <th>
            @Html.LabelFor(model => model.First().Publisher.Name)
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @foreach (var item2 in item.Authors)
                { 
                    @Html.Label(item2.Name)
                    <br/>
                }
            </td>
            <td>
                @Html.Label(item.Name)
            </td>
            <td>
                @Html.Label(item.Publisher.Name)
              </td>
            <td>
                @Html.ActionLink("Details", "Details", new { bookId = item.Id })
            </td>
        </tr>
    }
</table>