﻿<div id="partial2">
    <ul id="navbar">
        <li>
            @Html.ActionLink("Main", "Index", "Book", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Create Book", "Create", "Book", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Create Publisher", "Create", "Publisher", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("Create Author", "Create", "Author", new { area = "" }, null)
        </li>
    </ul>
</div>